* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #222e50;
  background-color: #d8e6f9;
}

.header {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 3.8rem;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgb(8 7 16 / 60%);
  background-color: rgba(255, 255, 255, 0.13);
  z-index: 1;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header {
    background-color: rgba(255, 255, 255, .7);
  }
}

.logo {
  height: 2.8rem;
  border-radius: 0.3rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #222e50;
}

.login {
  padding: 0.6rem 1.4rem;
  border-radius: 9px;
  color: #fff;
  background: linear-gradient(#1845ad, #23a2f6);
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  padding: 8.4rem 2.4rem 4.8rem 2.4rem;
}

.hero-heading {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.05;
  margin-bottom: 1.8rem;
}

.par-heading {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 3.6rem;
}

.button-heading {
  text-decoration: none;
  padding: 0.6rem 1.4rem;
  border-radius: 9px;
  color: #fff;
  background: linear-gradient(#1845ad, #23a2f6);
}

.reg-btn {
  color: #222e50;
  background: linear-gradient(#ffffff, #92d4ff);
}

.right-div {
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 10%);
}
.img-hero {
  border-radius: 0.3rem;
}

.how {
  padding: 9.6rem 2.4rem 0 2.4rem;
}

.head {
  font-size: 1.8rem;
  margin: 0 auto;
  padding-bottom: 3.2rem;
}

.grid-container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  row-gap: 4.8rem;
  column-gap: 4.8rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.step-number {
  font-size: 5.4rem;
  font-weight: 600;
  color: #3981df;
  margin-bottom: 0.8rem;
}

.step-title {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.step-descr {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
}

.img-step-box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 10%);
}

.img-step {
  width: 100%;
  border-radius: 0.3rem;
}

.who {
  padding: 9.6rem 2.4rem 6.4rem 2.4rem;
}

.grid-container-5 {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  grid-template-columns: repeat(5, 1fr);
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #23a2f6;
  height: 1.6rem;
  width: 1.6rem;
  margin-bottom: 1.4rem;
  background-color: #ecf3fc;
  padding: 1.2rem;
  border-radius: 50%;
}

.title-person {
  font-size: 1.2rem;
  color: #222e50;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.title-text {
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.2;
}

footer {
  margin: 0 auto;
  padding: 2.4rem 2.4rem 4.8rem 2.4rem;
  border-top: 1px solid #eee;
  background-color: #ecf3fc;
}

.grid-container-3 {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.col-logo {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 2.4rem;
}

.socials {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #222e50;
}

.col-addr {
  display: flex;
  flex-direction: column;
}

.addr-title {
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 2.4rem;
}

.address {
  font-size: 1.2rem;
  padding-bottom: 3.2rem;
}

.footer-addr:link,
.footer-addr:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #222e50;
  padding-bottom: 0.4rem;
}

.col-login {
  display: flex;
  align-items: center;
  justify-content: center;
}
