body {
	background-color: #ecf3fc;
	margin-top: 150px;
}

.header {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	backdrop-filter: blur(10px);
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgb(8 7 16 / 60%);
	background-color: rgba(255, 255, 255, 0.13);
	z-index: 1;
}

.icon-square i {
  margin: 5px;
  background: #052a40;
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-align: center;
  align-content: center;
  display: grid;
}

.feature {
	padding: 30px;
}

.logo-img.small {
	margin: auto;
display: block;
  height: 50px;
}

.fas h2 {
  font-family: system-ui;
}

footer {
  margin: 0 auto;
  background-color: #ecf3fc;
}

.grid-container-3 {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.col-logo {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 2.4rem;
}

.socials {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #222e50;
}

.col-addr {
  display: flex;
  flex-direction: column;
}

.addr-title {
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 2.4rem;
}

.address {
  font-size: 1.2rem;
  padding-bottom: 3.2rem;
}

.footer-addr:link,
.footer-addr:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #222e50;
  padding-bottom: 0.4rem;
}

.col-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

